/* UNIVERSAL */

* {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

body {
    background-color: #BB8961;
}

/* NAV BAR */

nav {
    width: 100%;
    background-color: darkgreen;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    opacity: .8;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 4rem;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 480px) {
    nav ul {
        flex-direction: column;
        height: 10rem;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* CONTAINERS */

.container {
    display: flex;
    justify-content: center;
}

/* HEADING */

#heading-background {
    background-image: url("images/sequoia.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

#heading-background h1 {
    background-color: white;
    border-radius: .5rem;
    opacity: .5;
    font-size: 7rem;
    text-align: center;
    width: 750;
    padding: 1rem;
}

@media only screen and (max-width: 480px) {
    #heading-background {
        height: 36rem;
        margin-top: 11rem;
    }
    #heading-background h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #heading-background {
        height: 43rem;
    }
    #heading-background h1 {
        font-size: 5.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #heading-background {
        height: 31rem;
    }
    #heading-background h1 {
        font-size: 5rem;
    }
}

/* INTRO */


#intro-background {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
}

#intro {
    width: 80%;
    padding: 2rem;
    background-color: whitesmoke;
    opacity: .9;
    border-radius: .75rem;
    border: solid black .25rem;
}

#intro p {
    font-size: 2rem;
    line-height: 3.5rem;
    text-align: center;
    margin: 1rem;
}

@media only screen and (max-width: 480px) {
    #intro p {
        font-size: 1.25rem;
        margin: .25rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #intro p {
        font-size: 1.5rem;
    }
}

/* FEATURED */


#featured {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
    background-color: whitesmoke;
}

#featured h2 {
    font-size: 4rem;
    margin: 2.5rem;
    letter-spacing: .75rem;
    padding-bottom: 2.5%;
}

#featured-images {
    display: flex;
}

#featured img {
    object-fit: contain;
    width: 90%;
    height: auto;
    border-radius: .5rem;
    box-shadow: .5rem .5rem lightgrey;
}

#featured h3 {
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: .2rem;
}

@media only screen and (max-width: 480px) {
    #featured h2 {
        font-size: 2.5rem;
    }
    #featured h3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    #featured-images {
        flex-direction: column;
    }
    #featured h3 {
        padding-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #featured-images {
        flex-direction: column;
    }
    #featured h3 {
        padding-bottom: 10%;
    }
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    opacity: .8;
    width: 100%;
}